#background {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  transition: all 250ms ease-in-out;
  filter: brightness(0.2);
}

.main-content {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .errorCard {
    align-items: center;
    width: 50%;
    font-size: 20pt;

    .textCard {
      font-size: 14pt;
    }
  }
}
