<ul>
  <li>
    <a [routerLink]="['']" class="headerImage">
      <img src="../../../assets/img/header/lol_icon.png" class="logoImage" />
    </a>
  </li>
  <li>
    <h1 class="header titleText">Totally (Not) serious League Manager</h1>
  </li>
  <li>
    <ul>
      <li>
        <a
          [routerLink]="['/league-build-manager']"
          class="headerLinks titleText"
          >LOL</a
        >
      </li>
      <li>
        <a [routerLink]="['/tft-comp-manager']" class="headerLinks titleText"
          >TFT</a
        >
      </li>
      <li>
        <a [routerLink]="['/about']" class="headerLinks titleText">About</a>
      </li>
    </ul>
  </li>
</ul>
