<img src="../../../assets/img/mainpage/background.png" id="background" />
<div class="mainContent">
  <div class="gamesCard container">
    <ul class="gameList col">
      <li class="games row">
        <a [routerLink]="['/tft-comp-manager']">
          <img src="../../../assets/img/mainpage/tft_logo.png" />
        </a>
      </li>
      <li class="games row">
        <a [routerLink]="['/league-build-manager']">
          <img src="../../../assets/img/mainpage/league_logo.png" alt="" />
        </a>
      </li>
    </ul>
  </div>
</div>
